@CHARSET "ISO-8859-1";
table{
	margin-bottom:0px;
}
#box-table-a {
    border-collapse: collapse;
    font-size: 12px;
    text-align: center;
    width: 100%;
    margin-bottom:10px;
}
#box-table-a th {
    /*background: none repeat scroll 0 0 #B9C9FE;*/
    background:#666666;
    border-bottom: 1px solid #FFFFFF;
    border-top: 4px solid #AABCFE;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
}
#box-table-a td {
    /*background: none repeat scroll 0 0 #E8EDFF;*/
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid transparent;
    /*color: #666699;*/
    padding: 8px;
}
#box-table-a td a{
	cursor:pointer;
}

#box-table-a tr:hover td {
    /*background: none repeat scroll 0 0 #D0DAFD;*/
    background: none repeat scroll 0 0 #F5F5F5;
    /*color: #333399;*/
}
